body,html {
	width: 100%;
	height: 100%;
	background: url(xyz.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1 {
	text-align: center;
	text-orientation: sideways;
	color: yellow; 
}
.buffer{
	height:50px;
}
.btn-xl {
	padding: 1rem 2rem;
}
.btn {
	text-transform: uppercase;
	background-color: grey;
}
.btn-primary:hover{
	background-color: green;
	border-color: #ee4b08;
	border-width: 4px;

}
hr{
	border-color: green;
	border-width: 4px;
	max-width: 65px;
}
